
[submodule "externals/EasyStorage"]
	path = externals/EasyStorage
	url = https://github.com/dmanning23/EasyStorage.git
[submodule "externals/MonoGame"]
	path = externals/MonoGame
	url = https://github.com/dmanning23/MonoGame.git
[submodule "externals/ouya-csharp"]
	path = externals/ouya-csharp
	url = https://github.com/dmanning23/ouya-csharp.git
[submodule "externals/FileBuddy"]
	path = externals/FileBuddy
	url = git@github.com:dmanning23/FileBuddy.git
